@media screen and (max-width: 1240px) {
	.container {
		width: 90vw;
	}
	.offer {
		justify-content: center;
		height: 100%;
	}
	.offer__text {
		max-width: 70%;
		margin-right: 0;
		padding: 45px 20px 0 20px;
	}
	.offer__img { display: none; }
	footer {
		padding-top: 0;
		height: 100%;
	}
	.gallery > img,
	.gallery > div > .pic {
		width: 40vw;
	}
	.footer__inf {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100px;
		padding: 3vh 0;
	}
	.gallery {
		width: 100%;
	}
	.show_img {
		height: 44vh;
	}
	.infopage__cover {
		height: 50vh;
	}
	.rules-inf > div > p,
	#about_us-inf2 p,
	#about_us-inf3 p,
	#about_us-inf4 p {
		width: 80vw;
	}
	
	/*с других страниц*/
	.nav__menu {
		width: 98vw;
	}
	.checkbox_wrapper > span {
		align-items: center;
	}
}
@media screen and (max-width: 770px) {
	.logo_wrapper {
		width: 99.5vw;
		position: absolute;
		top: -80px;
	}
	.logo_wrapper > a {
		display: block;
		margin: 0 auto;
		width: 115px;
	}
	nav {
		padding-top: 100px;
	}
	.menu__content-m {
		width: 99vw;
		left: -5%;
		border-bottom: 10px
	}
	.search {
		background-image: url("../img/loupe.svg");
		background-position:  95% 50%;
		background-repeat: no-repeat;
		background-size: 30px auto;
		width: 230px;
	}
}
@media screen and (max-width: 765px) { /*ЧИСТО МЕНЮ*/
	nav {
		padding-top: 0;
		flex-direction: column!important;
		height: 115px;
		justify-content: center;
	}
	.desktop-menu {
		display: none;
	}
	.mobile-menu-line {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		height: 95px;
	}
	.menu__item-profile	{
		height: 70px;
		width: 70px;
		background-size: cover;
	}
	.menu__item-profile-active {
		width: 70px;
		height: 84px;
		margin-top: 13px;
		background-image: url(../img/profile_active.svg);
		background-position-y: 0;
		background-position-x: center;
		background-size: 60px;
		z-index: 200;
	}
	.menu-wrapper {
		width: 82px;
		height: 89px;
		border: 1px solid #ffffff;
	}
	.menu-wrapper-active {
		border: 1px solid #CCCCCC;
		border-bottom: 1px solid #ffffff;
	}
	.menu-btn {
		width: 50px;
		height: 40px;
		background-image: url("../img/mobile-menu__icon.svg");
		background-color: #ffffff;
		background-position: center;
		background-size: 40px 50px;
		background-repeat: no-repeat;
		padding: 15px 15px 38px 15px;
		z-index: 50;
	}
	.menu-btn-active {
		position: relative;
		background-image:url('../img/mobile-menu__icon__active1.svg');
		transition: 0.5s ease;
	}
	/*.logo {
		background-image: url("../img/logo.svg");
		background-repeat: no-repeat;
		width: 110px;
		height: 90px;
	}*/
	.inner-menu,
	.mobile-menu,
	.about_us__inf,
	.menu_content,
	.callback,
	.profile-content {
		opacity: 0;
		transform: scaleY(0);
		transform-origin: 0 0;
		transition: .4s ease;
		height: 0px;
	}
	.contacts .callback {
		margin: 0;
	}
	.contacts .show_content {
		margin-bottom: 15px;
	}
	.mobile-menu,
	.profile-content {
		position: absolute;
		top: 100px;
		left: 1%;
		border: 1px solid #CCCCCC;
		background-color: #ffffff;
		padding: 15px 25px 0 25px;
		font-weight: 600;
		font-size: 16px;
		text-align: center;
		z-index: 30;
		width: 98vw;
		box-sizing: border-box;
	}
	.inner-menu {
		margin-top: 15px;
	}
	.mobile-menu > li, .inner-menu__item, .menu_title {
		margin-bottom: 15px;
	}
	.inner-menu__item:hover > .about_us__inf,
	.show_content {
		opacity: 1;
		transform: scaleY(1);
		height: unset;
	}
	.inner-menu__item {
		margin-left: 15px;
	}
	#forum_buttons {
		flex-direction: column;
		align-items: space-around;
	}
	#search-wrapper {
		justify-content: center;
	}
	.about_us__inf > p {
		font-weight: 300;
		margin: 10px 0;
	}
	.menu_title-hover {
		text-align: center;
	}
	.menu_content {
		margin-top: 10px;
		margin-left: -15px;
		flex-direction: column;
		align-items: center;
	}
	.text-field {
		width: 200px;
		margin-bottom: 20px;
	}
	.password_wrapper {
		width: 205px;
	}
	.login-inf {
		justify-content: space-around;
	}
	.reg_row, .reg_row:first-child {
		margin-bottom: 15px;
		width: 100%;
	}
	.reg_column { width: 100%; }
	.reg_column:first-child {
		align-items: center;
	}
	.reg__small-text {
		text-align: left;
		margin-bottom: 10px;
	}
	.reg_checkboxes {
		flex-wrap: wrap;
	}
	.write_letter {
		width: 80vw;
		resize: none;
	}
	.callback {
		flex-direction: column;
	}
	.callback > .text-field {
		margin-bottom: 10px;
	}
	#callback_email > button {
		margin-top: 10px;
	}
	.profile-content .inner-menu__item {
		margin: 0;
	}
	#openmenu { display: none; }
	.contacts {
		flex-direction: column;
		width: 100%;
		margin-bottom: 15px;
		align-items: center;
	}
	.contact {
		justify-content: flex-start;
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 570px) {
	nav {
		min-height: 330px;
		max-height: 100vh;
	}
	.container {
		max-width: 98vw;
	}
	header {
		background-image: url("../img/2scr_img.jpg");
		height: 70vh;
		background-size: cover;
		z-index: -5;
	}
	header > h1 {
		font-size: 40px;
		line-height: 45px;
		background: rgb(0,0,0,0.3)
	}
	input[type='checkbox'] {
		width: 16px;
		height: 16px;
	}
	.offer__text {
		font-size: 20px;
		line-height: 30px;
		max-width: 100%;
		padding: 15px 20px;
	}
	.gallery > img,
	.gallery > div > .pic {
		width: 90vw;
		margin: 10px 15px;
	}
	.footer__inf {
		height: 100%;
	}
	.show_img > span {
		padding: 5px 10px;
		margin: 10px;
	}
	.lessen {
		height: 25px;
		top: 65%;
	}
	.product-services, .product-services > img {
		width: 96vw;
		height: 100%;
	}
	.product__wrapper {
		flex-direction: column;
		align-items: flex-start;
		height: 60px;
		margin-top: 20px;
	}
	.product-services > .product__description > .product__wrapper > div {
		width: 100%;
	}
	/*мобильная шапка*/
	.mobile-header {
		display: flex;
		flex-direction: column;
		width: 90%;
	}
	.mobile-header > div {
		width: 100%;
		justify-content: space-between;
	}
}
@media screen and (max-width: 375px) {
	header > h1 {
		font-size: 36px;
		line-height: 40px;
	}
	.search {
		width: 55vw;
	}
	.reg_row {
		flex-wrap: wrap;
	}
	.login-inf {
		width: 100%;
		flex-direction: column;
		height: 50px;
		justify-content: space-between;
	}
	.login-inf > a {
		font-size: 12px;
	}
	.text-field {
		margin-bottom: 10px;
		width: 250px;
		height: 25px;
	}
	.password_wrapper {
		width: 255px;
	}
	.eye {
		top: 8px;
	}
	.search {
		height: 25px;
		background-size: 20px auto;
	}
	.reg_row:first-child {
		flex-direction: column;
	}
	.checkbox_wrapper {
		justify-content: space-between;
		align-items: center;
		width: 50%;
	}
	#checkbox_rules {
		width: 14px;
	}
	.menu__item-profile-active {
	    height: 81px;
		margin-top: 9px;
	}
}
@media screen and (max-width: 765px) and (orientation: landscape) {
	.reg_row {
		justify-content: space-around;
	}
	.show_img {
		height: 100vh;
	}
	.enlarge_img {
		left: 80%;
		top: 60%;
	}
}