
/*АНИМАЦИЯ*/
/*Смена языков*/
/*Данная анимаиц только для мобилок, не забыть убрать*/
@keyframes loader {
  0% {transform:rotate(-45deg)}
  50%{transform:rotate(-135deg)}
  100%{transform:rotate(-225deg)}}
@keyframes animationEN-en {
	0%{transform:translate(-15px, 0);}
	50%{transform:translate(-10px, -30px);}
	90%{transform:translate(5px, -30px);background-image:url("../img/en.svg");}
	100%{transform:translate(5px, -22px);background-image:url("../img/en_active.svg");}
 }
@keyframes animationEN-de {
	0%{transform:translate(15px, 0);}
	50%{transform:translate(5px, 0);}
	90%{transform:translate(-10px, 0);}
	100%{transform:translate(-7px, 0);}
}
@keyframes animationEN-ru {
	0%{transform:translate(0, -30px);background-image: url("../img/ru_active.svg");}
	20%{background-image: url("../img/ru.svg");}
	50%{transform:translate(20px, -30px);}
	90%{transform:translate(20px, 0px);}
	100%{transform:translate(17px, 0px);}
}
/**/
@keyframes animationDE-en {
	0%{transform:translate(-15px, 0);}
	50%{transform:translate(0px, 0);}
	90%{transform:translate(15px, 0);}
	100%{transform:translate(10px, -5px);}
 }
@keyframes animationDE-de {
	0%{transform:translate(15px, 0);}
	50%{transform:translate(15px, -30px);}
	90%{transform:translate(0px, -30px);background-image: url("../img/de.svg");}
	100%{transform:translate(-2px, -26px);background-image: url("../img/de_active.svg");}
}
@keyframes animationDE-ru {
	0%{transform:translate(0, -30px);}
	50%{transform:translate(-15px, -30px);}
	90%{transform:translate(-15px, 0);}
	100%{transform:translate(-14px, -5px);}
}
.loader {
	top: 20px;
	width: 50px;
	height: 50px;
	position: relative;
}
.loader span {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	
	width: 30px;
	height: 30px;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}
.loader span:nth-child(1) {
	transform:translate(-15px, 0);
	background-image: url("../img/en.svg");
}
.loader span:nth-child(2) {
	transform:translate(15px, 0);
	background-image: url("../img/de.svg");
}
.loader span:nth-child(3) {
	transform:translate(0, -30px);
	background-image: url("../img/ru.svg");
}
.activated > span { /*активатор анимации*/
	animation-play-state: running!important;
}
.animationEN-en {
	animation: animationEN-en 2s ease 1 forwards;
}
.animationEN-de {
	animation: animationEN-de 2s ease 1 forwards;
}
.animationEN-ru {
	animation: animationEN-ru 2s ease 1 forwards;
}
.animationDE-en {
	animation: animationDE-en 2s ease 1 forwards;
}
.animationDE-de {
	animation: animationDE-de 2s ease 1 forwards;
}
.animationDE-ru {
	animation: animationDE-ru 2s ease 1 forwards;
}
/**/