/*Спецификация */
body {
	background-color: #ffffff;
	font-family: Proxima Nova;
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #575757;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0px;
	margin: 0px;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
}
p {
	padding: 0px;
	margin: 0px;
	color: ;
	font-size: ;
	line-height: ;
}
a {
	color: #575757;
	text-decoration: none;
}
a:hover {
	color: #848484;
	transition: all 0.4s ease;
}
:focus { outline: none; }
.d-flex {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}
.hidden {
	display: none !important;
	opacity: 1;
	 transition: .3s;
}
.visible {
	display: flex !important;
	opacity: 1;
	 transition: .3s;
}
.hover {
	visibility: visible;
}
.main_div {
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container {
	max-width: 1140px;
}
.footer {
	width: 100%;
}
.open_menu {
	cursor: pointer;
}
/*Навигация*/
nav {
	width: 100%;
	height: 100px;
	justify-content: space-around;
	align-items: center;
}
.nav__menu {
	justify-content: space-around;
	align-items: center;
	width: 100%;
	position: relative;
	z-index: 1;
}
.menu__item {
	align-items: center;
	justify-content: center;
	width: 103px;
	height: 40px;
	color: #575757;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	margin-right: 2.6vw;
	cursor: pointer;
}
.language_box {
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100px;
	height: 70px;
	margin-right: 2.6vw;
}
/*Первый экран главная*/
header {
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	background-image: url("../img/header_back.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	width: 100%;
	height: 88vh;
}
header > h1 {
	font-weight: 300;
	font-size: 55px;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0.095em;
	text-transform: uppercase;
	color: #FFFFFF;
}
/*второй экран главная*/
.offer{
	justify-content: flex-end;
	align-items: flex-start;
	height: 100vh;
	width: 100%;
}
.offer__text {
	flex-direction: column;
	justify-content: center;
	height: 100%;
	max-width: 24vw;
	font-size: 24px; /*в макете 36*/
	line-height: 35px; /*в макете 47*/
	margin-right: 5.7vw;
}
.offer__text > span {
	margin-bottom: 5vh;
}
.offer__img{
	height: 100%;
}
/*футер главная*/
footer {
	height: 87vh;
	padding-top: 13vh;
}
.gallery {
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.gallery > img {
	width: 28vw;
	margin: 20px 15px;
}
/*Информация футера*/
.footer__inf {
	justify-content: space-between;
	padding: 6vh 0;
}
.contacts {
	justify-content: space-around;
	width: 90%;
	max-width: 700px;
}
.contact {
	align-items: center;
}
.contact > span {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #575757;
	margin-left: 10px;
}
.social-networks {
	justify-content: space-between;
	width: 230px;
}
/**/

/*Функционал меню*/

.menu__content {
	justify-content: space-around;
	align-items: center;
	position: absolute;
	min-height: 93px/*15vh*/;
	top: 93%;
	left: 0;
	width: 100%;
	margin-top: -1px;
	border: 1px solid #CCCCCC;
	font-weight: 600;
	border-radius: 5px;
	background: #ffffff;
	cursor: default;
	visibility: hidden;
}
.menu_hover {
	z-index: 20;
	align-items: flex-start;
	margin-top: 20px;
	padding-top: 11px;
	height: 43px;
	background-color: #ffffff;
	border-bottom: 10px solid #ffffff;
	position: relative;
}
.shop-icons, .shop-icons > div, .shop-icons > div > div > a,
.menu__content > div > a, .about_us-content__main_items {
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
.shop-icons {
	flex-direction: column;
	height: 186px/*30vh*/;
}
.shop-icons > div {
	width: 100%;
	height: 93px;
}
.shop-icons > div:first-child {
	align-items: center;
}
.shop-icons > div:nth-child(2) {
	height: 10px;
}
.shop-icons > div > span {
	width: 715px;
	padding: 0 20px;
	font-size: 10px;
	font-weight: normal;
	line-height: 92.3%;
	color: #000000;
}
.shop-icons > div > hr {
	border: 1px solid #CCCCCC;
	width: 100%;
}
.shop__radio-btn {
	display: none;
}
.g, .ho, .tt, .n {
	height: 51px;
	width: 44px;
	background-image: url("../img/header_back.jpg");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.g {
	background-image: url("../img/g.svg");
}
.ho {
	background-image: url("../img/ho.svg");
}
.tt {
	background-image: url("../img/tt.svg");
}
.n {
	background-image: url("../img/n.svg");
}
#scale1:checked ~ .g {
	background-image: url("../img/g_active.svg");
}
#scale2:checked ~ .ho {
	background-image: url("../img/ho_active.svg");
}
#scale3:checked ~ .tt {
	background-image: url("../img/tt_active.svg");
}
#scale4:checked ~ .n {
	background-image: url("../img/n_active.svg");
}

.hover {
	visibility: visible;
}
.gallery-content > div:first-child {
	margin-right: 22vw;
}
.menu__content > div > div > a,
.menu__content > div > div > span,
.menu__content > div > a {
	height: 70%;
	flex-direction: column;
	cursor: pointer;
}
.about_us-item {
	justify-content: space-around;
	align-items: center;
	min-width: 110px;
}
.about_us-content {
	flex-direction: column;
}
.about_us-content__main_items {
	height: 93px;
	width: 100%;
}
.about_us-inf {
	display: none;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.about_us-item:focus > .about_us-inf {
	display: flex;
	position: absolute;
	min-height: 220px;
	top: 97%;
	left: -1px;
	width: 100%;
	border: 1px solid #CCCCCC;
	border-top: 2px solid #CCCCCC;
	border-radius: 0 0 5px 5px;
	font-weight: 600;
	background: #ffffff;
	
}
.about_us-item:focus .about_us__title {
	position:relative;
	top: 30px;
	z-index: 15;
	background: #ffffff;
	font-weight: bold;
	font-size: 16px;
	line-height: 92.3%;
	padding: 0 15px;
}
.about_us-inf1__text {
	justify-content: space-between;
	flex-direction: column;
	height: 130px;
}
.about_us-inf1__text img {
	height: 25px;
}
#about_us-1 .contacts {
	flex-direction: column;
	align-items: space-around;
	justify-content: space-between;
	width: 30%;
	height: 130px;
}
#about_us-1 .social-networks {
	width: 110px;
}
.about_us-inf1__text p {
	width: 363px;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	text-align: left;
}
#about_us-inf2,
#about_us-inf3,
#about_us-inf4 {
	height: 230px;
	flex-direction: column;
	padding: 39px 0;
}
#about_us-inf2 > div,
#about_us-inf3 > div,
#about_us-inf4 > div  {
	overflow-y: scroll;
}
#about_us-inf2 p,
#about_us-inf3 p,
#about_us-inf4 p  {
	width: 790px;
	text-align: left;
	margin-bottom: 15px;
	font-weight: normal;
	font-size: 12px;
	line-height: 92.3%;
}
.loupe {
	top: 45%;
	left: 45%;
	position: absolute;
}
.enlarged_text {
	top: 0;
	left: 0;
	position: fixed;
	width: 100vw;
	height: 90vh;
	background-color: #ffffff;
	z-index: 100;
	padding: 50px 0;
	overflow-y: scroll;
}
.enlarged_text > p {
	width: 90%!important;
	font-size: 21px!important;
	line-height: 22px!important;
	padding: 0 50px;
}
.enlarged_text > .loupe {
	left: 70%;
	position: fixed;
}