.gallery_page__nav {
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 15vh;
}
.nav__menu {
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 50%;
	position: relative;
	z-index: 1;
}
.gallery__nav {
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.gallery__nav > li {
	width: 80px;
}
.hidden {
	display: none;
}
.visible {
	display: flex;
}
.gallery > div > .pic {
	width: 28vw;
	margin: 20px 15px;
}
.gallery__item {
	z-index: 1;
	position: relative;
}
.enlarge {
	z-index: 5;
	position: absolute;
	left: 86%;
    top: 72%;
}
.show_img {
	width: 100%;
}