.gallery_page__nav {
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 15vh;
}
.nav__menu {
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 50%;
	position: relative;
	z-index: 1;
}
.gallery__nav {
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.gallery__nav > li {
	width: 80px;
}
.hidden {
	display: none !important;
}
.visible {
	display: flex !important;
}
.gallery > div > .pic {
	width: 28vw;
	margin: 20px 15px;
}
.gallery__item {
	z-index: 1;
	position: relative;
}
.enlarge {
	z-index: 5;
	position: absolute;
	left: 86%;
    top: 72%;
	cursor: pointer;
}
.lessen {
	z-index: 5;
	position: absolute;
	left: 90%;
    top: 90%;
	cursor: pointer;
}
.show_img {
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-image: url("../img/photos/1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
.show_img > span {
	font-size: 30px;
	color: #fff;
	padding: 10px 20px;
	margin: 40px;
	border: 1px solid #ffffff;
	border-radius: 5px;
	cursor: pointer;
}
.picture1 {
	background-image: url("../img/photos/1.jpg");
}
.picture2 {
	background-image: url("../img/photos/2.jpg");
}
.picture3 {
	background-image: url("../img/photos/3.jpg");
}
.picture4 {
	background-image: url("../img/photos/4.jpg");
}
.picture5 {
	background-image: url("../img/photos/5.jpg");
}
.picture6 {
	background-image: url("../img/photos/6.jpg");
}