/*Меню других страниц*/
.otherpage__nav {
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.nav__menu {
	z-index: 30;
}
.page__nav {
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.page__nav > li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
}
.menu_hover {
	margin-top: 10px;
    padding-top: 11px;
    height: 32px;
}
/**/
/*Галерея*/
.gallery > div > .pic {
	width: 28vw;
	margin: 20px 15px;
}
.gallery__item {
	z-index: 1;
	position: relative;
}
.enlarge_img {
	z-index: 5;
	position: absolute;
	left: 86%;
    top: 72%;
	cursor: pointer;
}
.lessen {
	z-index: 5;
	position: absolute;
	left: 90%;
    top: 90%;
	cursor: pointer;
}
.show_img {
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-image: url("../img/photos/1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
.show_img > span {
	font-size: 30px;
	color: #fff;
	padding: 10px 20px;
	margin: 40px;
	border: 1px solid #ffffff;
	border-radius: 5px;
	cursor: pointer;
}
.picture1 {
	background-image: url("../img/photos/1.jpg");
}
.picture2 {
	background-image: url("../img/photos/2.jpg");
}
.picture3 {
	background-image: url("../img/photos/3.jpg");
}
.picture4 {
	background-image: url("../img/photos/4.jpg");
}
.picture5 {
	background-image: url("../img/photos/5.jpg");
}
.picture6 {
	background-image: url("../img/photos/6.jpg");
}
/**/
.information_block {
	
}
.information_block > h3 {
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	margin: 25px 0;
	text-align: center; /*?ВРЕМЕННО?*/
}
.information_block > p {
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #000000;
	margin: 25px 0;
}
.information_block__text {
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}
.ingopage__cover {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	width: 100%;
	height: 88vh;
}
.ingopage__cover-services5 {
	background-image: url("../img/header_back.jpg");
}
.ingopage__cover-services6 {
	background-image: url("../img/services_img6.jpg");
}
.products {
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: space-around;
}
/*Карточка товара*/
.product {
	flex-direction: column;
	width: 255px;
	height: 336px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	color: #000000;
	margin-bottom: 40px;
}
.product__description {
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	margin: 20px 14px;
}
.product__description_title {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}
.product__description_text {
	font-size: 16px;
	line-height: 19px;
}
.product__wrapper {
	justify-content: space-between;
	align-items: center;
}
.price {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}
.product__btn {
	justify-content: space-around;
	align-items: center;
	width: 158px;
	height: 34px;
	font-size: 15px;
	line-height: 18px;
}
.product-services {
	width: 540px;
}
.product-services > .product__description {
	margin: 36px 20px 25px 39px;
}
.product-services > .product__description > .product__description_text {
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
}
.product-services > .product__description > .product__wrapper > div {
	width: 250px;
	justify-content: space-between;
	align-items: center;
}
.product-services > .product__description > .product__wrapper > span {
	width: 110px;
	justify-content: space-between;
	align-items: center;
}
/**/